            <nav class="m-light-nav {{ navClasses }}">
                <div class="m-light-nav--warp">
                {% set previous = record.previous('id') %}
                {% if previous %}
                    <a href="{{ previous.link }}" class="m-icon mm-prev" title="{{ previous.title }}"><i>previous</i></a>
                {% endif %}
                <a href="#top" class="m-icon mm-top"><i>top</i></a>
                {% set next = record.next('id') %}
                {% if next %}
                    <a href="{{ next.link }}" class="m-icon mm-next" title="{{ next.title }}"><i>next</i></a>
                {% endif %}            
                </div>
            </nav>