{% set link = pager.makelink() %}

{% if pager.totalpages > 1 %}
    <div class="row">
        <div class="small-12 small-centered columns">
            <nav class="m-light-nav mm-centerd mm-big">
                <div class="m-light-nav--wrap">
                    {# if previous page #}
                    {% if pager.current > 1 and class!="narrow" %}
                        <a href="{{ link }}{{ pager.current-1 }}" class="m-icon mm-prev"><i>previous</i></a>
                    {% else %}
                        <div class="m-icon"></div>
                    {% endif %}

                    <div class="mm-current">{{ pager.current }} / {{ pager.totalpages }}</div>

                    {% if pager.current < pager.totalpages and class!="narrow" %}
                        <a href="{{ link }}{{ pager.current+1 }}" class="m-icon mm-next"><i>next</i></a>
                    {% else %}
                        <div class="m-icon"></div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
{% endif %}








