<footer class="m-page-footer" xmlns="http://www.w3.org/1999/html">

    <div class="row mgr-half">
        <div class="small-12 medium-7 large-8 columns">
            <h5>OFICIÁLNÍ STRÁNKY VÝSTAVY</h5>
            <ul class="inline-list">
                <li class="mgr-half"><img src="{{ paths.theme }}/assets/logo_expo2015.svg" alt="" /></li>
                <li><img src="{{ paths.theme }}/assets/logo_cr_expo.png  " alt="" /></li>
            </ul>
        </div>
        <div class="small-12 medium-5 large-3 columns">
            <h5>Výrobce pavilonu</h5>
            <div><img src="{{ paths.theme }}/assets/logo_koma_modular.svg  " alt="" /></div>
        </div>
    </div>

    {% include '_inc-partneri-bronze.twig' %}

    <div class="m-page-footer--copyright">
        <div class="row">
            <div class="m-page-footer--content small-6 large-4 columns text-left">
                © 2014 - 17 KOMA Modular
            </div>
            <div class="m-page-footer--content small-6 large-4 columns text-center">
                <a href="" target="_blank" title="www.koma-modular.cz">www.koma-modular.cz</a>
            </div>
            <div class="m-page-footer--content small-12 large-4 columns text-right">
                Design&&Code OdOka
            </div>
        </div>
    </div>
</footer>

<script src="{{ paths.theme }}/components/foundation/js/foundation/foundation.js"></script>
<script src="{{ paths.theme }}/components/foundation/js/foundation/foundation.equalizer.js"></script>

