{% macro display_menu_item(item, loop) %}
<li>
    <article class="m-item index-{{ loop.index }}">
    <!-- {% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %} --> 
    <header>
        <h1 class="m-item--hed"><a href="{{ item.link }}" title='{{ item.label|escape }}'>{{ item.label }}</a></h1>
    </header>
    {% if item.submenu is defined %}
        <div class="m-item--meta">
            <ul>
                <!-- {% for category in config.get('taxonomy/kategorie/options') %}
                    <li>
                        <a href="">{{ category }}</a>
                    </li>
                {% endfor %} -->
                {% for submenu in item.submenu %}
                    <li><a href="{{ submenu.link }}">{{ submenu.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% elseif item.title is defined %}
        <div class="m-item--description">
            <p>{{ item.title }}</p>
        </div>
    {% endif %}
</li>
{% endmacro %}


<!-- rinnign macro -->

{% for item in menu %}
    {{ _self.display_menu_item(item, loop) }}
{% endfor %}