<div class="small-12 medium-6 large-4 xlarge-3 columns {% if loop.last %}end{% endif %}"> 
    <article class="m-blog-item {% if record.featured %}mm-featured{% endif %}">
        <header>
            <a href="{{ record.link }}" title="{{ record['title_' ~ app.locale] }}">
            <div class="m-item--image">{% if record.image!="" %}<img src="{{ thumbnail(record.image) }}" alt="">
            {% else %}<img src="{{ paths.theme }}assets/no_image_thumb_blue.svg" />
        {% endif %}</div>
            <h1 class="m-item--hed"><a href="{{ record.link }}" title="{{ record['title_' ~ app.locale] }}">{{ record['title_' ~ app.locale] }}</a></h1>
            {% if record.taxonomy.kategorie is defined %}
                <div class="m-item--meta">
                <div  class="m-item--section">
                {% for tag in record.taxonomy.kategorie %}
                <a href="{{ paths.root }}{{ app.locale }}/kategorie/{{ tag }}">
                    {{ tag }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                </div>
                </div>
            {% endif %}
            </a>
        </header>
    </article>
</div>