<aside>

            {% if record.rok!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">Rok konání výstavy:</h2>
                    <div class="large-8 columns">
                        {{ record.rok }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if record.mesto_cs!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">Místo:</h2>
                    <div class="large-8 columns">
                        {{ record['mesto_' ~ app.locale] }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if record.tema_cs!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">Téma výstavy:</h2>
                    <div class="large-8 columns">
                        {{ record['tema_' ~ app.locale] }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if record.cztema_cs!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">Téma české expozice:</h2>
                    <div class="large-8 columns">
                        {{ record['cztema_' ~ app.locale] }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if record.autor_pavilonu_cs!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">Autor(ři) pavilonu:</h2>
                    <div class="large-8 columns">{% if record['autor_pavilonu_' ~ app.locale]!="" %}
                        {{ record['autor_pavilonu_' ~ app.locale] }}{% else %}{{ record.autor_pavilonu_cs }}{% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if record.autor_expozice_cs!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">Autor(ři) expozice:</h2>
                    <div class="large-8 columns">{% if record['autor_expozice_' ~ app.locale]!="" %}
                        {{ record['autor_expozice_' ~ app.locale] }}{% else %}{{ record.autor_expozice_cs }}{% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if record.taxonomy.kategorie is defined %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">Kategorie</h2>

                    <div class="large-8 columns">
                        {% for tag in record.taxonomy.kategorie %}
                        <a href="{{ paths.root }}{{ app.locale }}/kategorie/{{ tag }}">
                            {{ tag }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if record.related!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">Čtěte také:</h2>
                    <div class="large-8 columns">
                        {% for odkaz in record.related %}
                        <article class="m-story">
                            <header>
                                <h1 class="m-item--hed">
                                    <a href="{{ odkaz.link }}" target="_parent" title="">{{ odkaz['title_' ~ app.locale] }}</a>
                                </h1>
                            </header>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if record.filelist %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">Soubory ke stažení:</h2>
                    <div class="large-8 columns">
                        {% for soubor in record.filelist %}
                        <article class="m-story">
                            <header>
                                <h1 class="m-item--hed">
                                    <a href="{{paths.files}}{{ soubor.filename }}" target="_parent" title="">{{ soubor.filename }}</a>
                                </h1>
                            </header>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

        </aside>
