<nav id="top-nav" class="m-nav mm-white">

    <div class="m-nav--panel">
        <div class="row collapse">

            <div class="small-12 medium-6 columns" style="">
                <div class="m-nav--button"></div>
                <div class="m-nav--logo"><strong>Český Pavilon</strong> Expo 2015</div>
            </div>

            <div class="small-6 columns visible-for-medium-up">
                <div class="m-nav--lang">
                    <a href="{{paths.root}}{{ paths.current|replace({'/en': "cs", '/it': "cs", '/cs': "cs"}) }}" {% if app.locale == 'cs' %}class="is-active"{% endif %}>cz</a>
                    /<a href="{{paths.root}}{{ paths.current|replace({'/cs': "en", '/it': "en", '/en': "en"}) }}" {% if app.locale == 'en' %}class="is-active"{% endif %}>en</a>
                    {# /<a href="{{paths.root}}{{ paths.current|replace({'/cs': "it", '/en': "it", '/it': "it"}) }}" {% if app.locale == 'it' %}class="is-active"{% endif %}>it</a> #}
                </div>
            </div>
        </div>
    </div>

    <div class="m-nav--overlay">

        <ul class="m-nav--menu">
            {{ menu( app.locale , '_inc-menu.twig') }}
        </ul>

    </div>
</nav>
