{% include '_header.twig' %}
<body class="l-page l-page_single">
<!-- {% include '_loader.twig' %} -->
{% include '_topbar.twig' with {'menuClasses': 'mm-white'} %}

<div id="top" class="row">

<div class="row">
    <div class="small-12 columns">
        <nav class="breadcrumbs">
            {% if record.contenttype.name == "Zpravodaj" %}
            <a href="{{paths.root}}{{ app.locale }}/blog">ZRAVODAJ PAVILONU</a>
            <a class="current" href="#">KATEGORIE</a>
            {% elseif record.contenttype.name == "Historie" %}
            <a href="{{paths.root}}{{ app.locale }}/historie">Historie českých pavilonů EXPO</a>{% endif %}
        </nav>
    </div>
</div>

<article class="m-story">

    <div class="row">
        <header class="small-12 large-7 columns">
            <h1 class="m-item--hed">{{ record['title_' ~ app.locale] }}</h1>

            <div class="m-item--meta">
                {% if record.contenttype.name != "Historie" %}
                <div class="m-item--date-published">Datum vydání: {{ record.datepublish }}</div>
                {% endif %}
            </div>
        </header>

        <div class="small-6 large-4 columns">
            <nav class="m-light-nav mm-big text-right visible-for-large-up">
                <div class="m-light-nav--warp">
                {% set previous = record.previous('id') %}
                {% if previous %}
                    <a href="{{ previous.link }}" class="m-icon mm-prev" title="{{ previous.title }}"><i>previous</i></a>
                {% endif %}
                {% if record.contenttype.name == "Zpravodaj" %}
                <a href="{{paths.root}}{{ app.locale }}/blog" class="m-icon mm-top"><i>top</i></a>
                {% elseif record.contenttype.name == "Historie" %}
                <a href="{{paths.root}}{{ app.locale }}/historie" class="m-icon mm-top"><i>top</i></a>
                {% endif %}
                {% set next = record.next('id') %}
                {% if next %}
                    <a href="{{ next.link }}" class="m-icon mm-next" title="{{ next.title }}"><i>next</i></a>
                {% endif %}
                </div>
            </nav>
        </div>

    </div>

    <div class="row">
        {% if record.image!="" %}
        <div class="visible-for-medium-down">
            <div class="small-12 columns ">
                <div class="m-item--image">
                        <a href="{{ image(record.image) }}">
                        <img src="{{ thumbnail(record.image, 620, 465, crop) }}">
                        </a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="large-6 columns m-item--copy">
            {{ record['text_' ~ app.locale] }}
        </div>

        {% if record.image!="" %}
        <div class="visible-for-large-up">
            <div class="large-6  columns">
                <div class="m-item--image mgr-full">
                        <a href="{{ image(record.image) }}">
                        <img src="{{ thumbnail(record.image, 620, 465, crop) }}">
                        </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% include "_inc-entry-aside.twig" %}

    </div>
    <div class="row">
        <div class="large-12 columns mgr-full">
            {% include '_inc-entry-nav.twig' with {'navClasses': ''} %}
        </div>
    </div>

    <!-- fotogalerie -->
    {% if record.imagelist %}
    <div class="mgr-double">
        <div class="row">
            <h5 class="small-12 columns">Fotogalerie</h5>
            {% for imago in record.imagelist %}
                <div class="small-6 medium-4 large-3 xlarge-2 columns">
                    <a href="{{ imago.filename|image }}" title="{{ imago.title }}">
                      <img src="{{ imago.filename|thumbnail(280,210, crop) }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns mgr-full">
            {% include '_inc-entry-nav.twig' with {'navClasses': ''} %}
        </div>
    </div>
    {% endif %}

    <!-- video -->
    {% if record.video!="" %}
    <div class="row">
        <div class="small-12 small-centered columns mgr-full">
            <h5>Videa</h5>

            <div class="flex-video widescreen vimeo">
                <iframe src="http://player.vimeo.com/video/60122989" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns mgr-full">
            {% include '_inc-entry-nav.twig' with {'navClasses': ''} %}
        </div>
    </div>
    {% endif %}

</article>
</div>

{% include '_partners.twig' %}
{% include '_inc-footer.twig' %}

{% include '_inc-global-scripts.twig' %}
<!-- page custom JS -->


</body>
{% include '_footer.twig' %}
