{% include '_header.twig' %}
<body class="l-page l-page_history">
{% include '_loader.twig' %}
{% include '_topbar.twig' with {'menuClasses': 'switchable'} %}

<div class="m-carousel">
    <div class="item">
        <img src="/assets/sky.jpg" alt="slide 1" />

        <div class="orbit-caption">
            <div>Seznamte se s historií
                 českých pavilonů EXPO
            </div>
            <div class="fnt-primary-body-m">
                Sestavili jsme pro vás historii
                všech českých pavilonů expo od roku 1822.
                Jsou zahrnuty i detaily o architektech a dobové fotografie!
            </div>

        </div>
        <div class="m-carousel--arrow-down">
            <img src="/assets/ikony/arrow-down.png" alt="" />
        </div>
    </div>


</div>

<div class="row">
    {% for record in records %}
    <div class="small-6 large-3 columns {% if loop.last %}end{% endif%}">
            <div class="m-story mm-history">
                <header>
                    <div class="m-item--image" style="background-image: url('{% if record.image!="" %}{{ thumbnail(record.image) }}{% endif %}')">
                        <a href="{{ record.link }}">
                            {% if record.image!="" %}
                                <img src="{{ thumbnail(record.image) }}" alt="">
                                {% else %}
                                <img src="{{ paths.theme }}assets/no_image_thumb_blue.svg" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="m-item--summary">
                        <h1 class="m-item--hed">{{ record.rok }}</h1>
                        <div class="m-item--description">{{ record['mesto_' ~ app.locale ] }}</div>
                    </div>
                </header>
            </div>
        </div>
    {% endfor %}
</div>




{% include '_partners.twig' %}
{% include '_inc-footer.twig' %}

{% include '_inc-global-scripts.twig' %}

<!-- page custom JS -->

<script type="text/javascript" src="{{ paths.theme }}components/slick/slick/slick.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('.m-carousel').slick({
            autoplay: true,
            speed: 500,
            fade: true,
            cssEase: 'linear'
        });
    });
</script>
</body>
{% include '_footer.twig' %}
