{% include '_header.twig' %}
<body class="l-page l-page_home">
{% include '_loader.twig' %}
{% include '_topbar.twig' with {'menuClasses': 'switchable'} %}
{% include '_angle-slider.twig' %}

<div class="l-section m-section_pavilon">

    <div class="row">
        <div class="small-12 large-6 columns">
            <h1>Vítejte na stránkách věnovaných českému pavilonu EXPO2015</h1>
        </div>
        <div class="small-12 medium-10 large-6 columns mgr-third">
            <h2>Český pavilon EXPO2015 představuje špičku české modulární architektury. Způsob výstavby umožní stavbě existovat na více místech a najít uplatnění i po skončení výstavy.</h2>
        </div>
        <div class="small-12 columns mgr-half">
            <img src="{{ paths.theme }}/assets/pavilon-skica.png" alt="" />
        </div>

        <div class="small-12 large-4 columns ">
            <h3>Inteligent</h3>

            <p>Unikátní koncept architektonického řešení umožňují
               principy modulární výstavby. Právě její využití
               umožní recyklaci pavilonu v budoucnosti.</p>
        </div>

        <div class="small-12 medium-6 large-4 columns ">
            <h3>Green</h3>

            <p>Možnost rozebiratelnosti pavilonu umožňuje využít neobnovitelné zdroje mnohem efektivněji. Celý pavilon bude edukativně představovat možnosti obnovitelnosti, přečisťování a znovuvyužití bežných elementů jako je voda.</p>
        </div>
        <div class="small-12 medium-6 large-4 columns ">
            <h3>Inteligent</h3>

            <p>Návrh umožňuje pavilonu zastoupit několik funkcí. Po návratu do vlasti se tak bazén může stát plovoucím pontonem u pražských náplavek a pomoci rozvíjet koncepci oživovaní městských břehů. Modulární část se stane jednoduchým zásahem mateřskou školkou.</p>
        </div>
    </div>

</div>


<div class="l-section m-progress-bar">
    <div id="drg-progress-bar-bounds" class=" small-12 columns">
        <div class="row">
            <article>
                <header>
                    <h2 class="fnt-primary-headline">Aktuální stav pavilonu</h2>
                </header>
                <div id="drg-progress-bar" class="m-progress-bar--container">
                    <ul class="m-progress-bar--items">
                        <li style="left: 0px" class="mm-full">
                            <img class="m-progress-bar--image" src="http://foundation.zurb.com/docs/assets/img/examples/satelite.jpg">
                            <span><strong>24. 5. 2008</strong> popisek popisek popisek popisek popisek popisek</span>
                        </li>
                        <li style="left: 300px" class="mm-full">
                            <img class="m-progress-bar--image" src="http://foundation.zurb.com/docs/assets/img/examples/satelite.jpg">
                            <span>popisek popisek popisek</span>
                        </li>
                        <li style="left: 500px">
                            <img class="m-progress-bar--image" src="http://foundation.zurb.com/docs/assets/img/examples/satelite.jpg">
                            <span>popisek popisek popisek</span>
                        </li>
                        <li style="left: 650px">
                            <img class="m-progress-bar--image" src="http://foundation.zurb.com/docs/assets/img/examples/satelite.jpg">
                            <span>popisek popisek popisek</span>
                        </li>
                        <li style="left: 1200px">
                            <img class="m-progress-bar--image" src="http://foundation.zurb.com/docs/assets/img/examples/satelite.jpg">
                            <span>popisek popisek popisek</span>
                        </li>
                        <li style="left: 2200px">
                            <img class="m-progress-bar--image" src="http://foundation.zurb.com/docs/assets/img/examples/satelite.jpg">
                            <span>popisek popisek popisek</span>
                        </li>
                    </ul>
                    <div class="m-progress-bar--bar-bg">
                        <div class="m-progress-bar--bar"></div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<div class="l-section m-section_paviloninfo">
    <article>
        <header class="row mgr-half">
            <div class="small-12 large-5 columns">
                <h1 class="fnt-primary-headline">Pavilon v kostce</h2>
            </div>
            <div class="small-12 large-7 columns">
                <h3 class="fnt-secondary-headline">Přehled nejzákladnějších údajů o budově pavilonu a jeho aktuálním provozu na výstavišti v Miláně. Statistické údaje budou / jsou průběžně aktualizovány.</h3>
            </div>
        </header>

        <div class="row mgr-half m-data-stats">
            <div class="small-12 medium-6 columns fnt-primary-body-m">
                <div class="lbox"><span class="fnt-boxed-white">520</span> kapacita návštěvníků za hodinu</div>
                <div class="lbox"><span class="fnt-boxed-white">700 m<sup>2</sup></span> celková plocha expozic
                </div>
            </div>
            <div class="small-12 medium-6 columns fnt-primary-body-m">
                <div class="rbox"><span class="fnt-boxed-white">5200</span>počet návštěvníků za den:</div>
                <div class="rbox"><span class="fnt-boxed-black">1 000 000</span>celkový počet návštěvníků</div>
            </div>
        </div>

        <div class="row mgr-half">
            <div class="small-12 columns">
                <img src="{{ paths.theme }}/assets/pavilon-2.png" alt="" />
            </div>
        </div>

        <div class="row">
            <ul class="small-block-grid-2 small-block-grid-3 large-block-grid-6 m-data-table" data-equalizer>
                <li data-equalizer-watch><span>1360 m<sup>2</sup></span>plocha pozemku</li>
                <li data-equalizer-watch><span>540 m<sup>2</sup></span>zastavěná plocha</li>
                <li data-equalizer-watch><span>420 tun </span>váha pavilonu</li>
                <li data-equalizer-watch><span>60 tun</span>podesta ocelové konstrukce</li>
                <li data-equalizer-watch><span>37 m<sup>3</sup></span>objem bazénu</li>
                <li data-equalizer-watch><span>135 dní</span>doba montáže pavilonu</li>
            </ul>
        </div>
    </article>

</div>

<div class="l-section m-section_pavilondark mm-dark" style="background-image: url({{ paths.theme }}/assets/homepage/hp04_pavilon_at_night.jpg);">
    <article>

        <div class="row">
            <header class="small-12 large-6 columns">
                <h1 class="fnt-primary-headline fnt-white">Nahlédněte do pavilonu</h1>
            </header>
        </div>

        <div class="row m-item--meta">
            <div class="m-item--summary">
                <div class="small-12 medium-9 large-8 columns">
                    <div class="m-item--copy">
                        <div class="fnt-secondary-headline fnt-white fnt-shadow">
                            Prohlédněte si koncepci českého pavilonu,
                            jeho nejzajímavější části či fotogalerie z prostor pavilonu a expozic na následující straně
                        </div>
                    </div>
                </div>

                <footer class="small-12 medium-3 large-4 columns">
                    <nav><a href="/pavilon.php" title="Pavilon"><i class="m-icon i-arrow x4 "></i></a></nav>
                </footer>

            </div>
        </div>
    </article>
</div>


<!-- za konceptem-->
<div class="l-section m-section_text">
    <article>
        <header class="row mgr-full">
            <div class="small-12 large-5 columns">
                <h1 class="fnt-primary-headline">Za konceptem</h1>
            </div>
            <div class="small-12 large-7 columns">
                <h3 class="fnt-secondary-headline">Koncept pavilonu přinesl přední výrobce modulární výstavby společnost KOMA Modular ve spolupráci s architektonickým atelierem CHYBIK KRISTOF AA. </h3>
            </div>
        </header>
        <div class="row">
            <div class="small-12 medium-4 large-4 columns mgr-half">
                <img src="{{ paths.theme }}/assets/modul.png" alt="modul" />
            </div>
            <div class="small-12 medium-8 large-4 columns">
                <p>Původní česká firma KOMA MODULAR s.r.o. s více než 20-ti letou tradicí je specialistou na modulární výstavbu a má za sebou realizace po celém světě. Získala četná ocenění pro svůj inovativní přístup a technologie. V posledních letech se orientuje na vývoj nízkoenergetických modulů i architektonicky atraktivních návrhů.</p>
            </div>
            <div class="small-12 large-4 columns">
                <p>V tomto oboru úzce spolupracuje s CHYBIK KRISTOF ASSOCIATED ARCHITECTS, progresivním mladým architektonickým ateliérem s řadou zajímavých realizací a ocenění.</p>
            </div>
        </div>
    </article>
</div>


<!-- výhody -->
<div class=" l-section m-section_text mm-bluish">
    <article class="row">
        <header class="clearfix mgr-full">
            <div class="small-12 large-5 columns">
                <h1 class="fnt-primary-headline">po("Výhody modulární výstavby")</h1>
            </div>
            <div class="small-12 large-7 columns">
                <h3 class="fnt-secondary-headline">Modulární architektura je založena na třech základních principech, které vycházejí z potřeb lidí - prefabrikace, mobilita a variabilita.</h3>
            </div>
        </header>

        <div class="small-12 medium-6 large-4  columns ">
            <h3 class="fnt-secondary-headline-mid icon-outside i-clock">RYCHLE</h3>

            <p>Hlavní devizou modulárních staveb je rychlost jejich výstavby. Díky převážně suchému procesu stavění totiž odpadají dlouhé technologické přestávky. Je tak možné vidět dům růst přímo před očima. Například mateřskou školku můžete postavit během letních prázdnin. </p>
        </div>

        <div class="small-12 medium-6 large-4  columns ">
            <h3 class="fnt-secondary-headline-mid icon-outside i-bulb ">CHYTŘE</h3>

            <p>Snadná demontovatelnost modulárních staveb umožňuje neustálý vývoj. Modulární stavba není nikdy jednoznačná a definitivní. Můžete přidávat, ubírat, měnít fasádu - prostě dům přizpůsobit aktuálním potřebám.</p>
        </div>
        <div class="small-12 small-12 large-4  columns">
            <h3 class="fnt-secondary-headline-mid icon-outside i-elegant">ELEGANTNĚ</h3>

            <p>Modulární stavby mají schopnost vytvářet rozličné kombinace uspořádání. Působivé momenty jako jsou konzoly vznikají jednoduchým posunutím modulu. Samozřejmostí je prakticky libovolné pojednání fasády a tím architektonická rozmanitost. </p>
        </div>
    </article>
</div>

<!-- blog -->
<div class="l-section m-section_grid">
    <article>
        <header class="clearfix mgr-full row">
            <div class="small-12 large-6 columns">
                <h1 class="fnt-primary-headline">Zpravodaj pavilonu</h1>
            </div>
        </header>

        <div class="row">
            {% setcontent zpravodaj = 'blog/latest/4' %}
            {% for record in zpravodaj %}
                {% include '_inc-blog-post-small.twig' %}
            {% else %}
                <h2>{{ __("No content found") }}.</h2>
                <p>
                    Unfortunately, no content could be found. Try another page, or go to the
                    <a href="{{ paths.root }}">homepage</a>. </p>
            {% endfor %}
        </div>
    </article>
</div>


{% include '_partners.twig' %}
{% include '_inc-footer.twig' %}

<!-- page custom JS -->
<script src="{{ paths.theme }}components/ags-slider/ags-slider.js"></script>
<script src="{{ paths.theme }}js/progress-bar-scroll.js"></script>
<script src="{{ paths.theme }}js/app.js"></script>

{% include '_inc-analytics.twig' %}
</body>{% include '_footer.twig' %}
