<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->


<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cleartype" content="on" />

    <link rel="shortcut icon" href="{{ paths.theme }}assets/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="{{ paths.theme }}css/style.css" />
</head>


<body class="m-unsupported-browser">

<div class="row">
    <div class="medium-5 medium-offset-1 columns text-right m-item--title">Microsite Český pavilon EXPO 2015 vyžaduje některý z moderních webových prohlížečů.</div>
    <div class="medium-5 end columns text-left m-item--title">Czech pavilion EXPO2015 microsite requires a modern web browser.</div>
</div>

<div class="row collapse">
    <div class="medium-6 medium-centered columns m-item--icons">

        <ul class="inline-list">
            <li><a href="" target="_blank" title=""><img src="{{ paths.theme }}assets/ikony/icon-chrome.png" alt="" /></a></li>
            <li><a href="" target="_blank" title=""><img src="{{ paths.theme }}assets/ikony/icon-firefox.png" alt="" /></a></li>
            <li><a href="" target="_blank" title=""><img src="{{ paths.theme }}assets/ikony/icon-safari.png" alt="" /></a></li>
            <li><a href="" target="_blank" title=""><img src="{{ paths.theme }}assets/ikony/icon-ie.png" alt="" /></a></li>
        </ul>

    </div>
</div>


<div class="row">
    <div class="medium-4 medium-offset-2 columns text-right">
        <p>Jsou podporovány všechny prohlížeče od IE9 a novější.</p>
        <p>Doporučujeme Váš internetový prohlížeč updatovat na jeden  z uvedených prohlížečů i pro zvýšení Vaší</p>
    </div>
    <div class="medium-4 end columns text-left">
        <p>All modern browser are supported, including IE9+.</p>
        <p>We recommend You to update to one of browser above for security reasons as well.</p>
    </div>
</div>




</body>
</html>
