{% include '_header.twig' %}
<body class="l-page l-page_blog">
{% include '_topbar.twig' %}

<div class="m-theme mgr-full">
    <div class="row">
        <div class="large-6 columns">Zpravodaj Pavilonu</div>
        <div class="large-6 columns">
            sekce
        </div>
    </div>
</div>


        {% if taxonomytype is defined %}
            <h1>
                {{ __('Overview for') }}
                {% if taxonomy.options[slug] is defined %}
                    {{ taxonomy.options[slug] }}
                {% else %}
                    {{ slug }}
                {% endif %}
            </h1>
            {# taxonomies are fetched unordered by design. If we specified an order in config.yml, sort them here: #}
            {% set records = records|order(app.config.get('general/listing_sort')) %}
        {% endif %}
 
        {% for record in records %}

        {% if loop.index == 1 %}

            <div class="row">
                <div class="small-12 large-6 columns">
                    <article class="m-blog-item mm-subhero">
                        <header>
                            <a href="{{ record.link }}" title="{{ record['title_' ~ app.locale] }}">
                                <div class="m-item--image">
                                {% if record.image!="" %}
                                    <img src="{{ thumbnail(record.image, 600, 420, crop) }}" alt="">
                                    {% else %}
                                    <img src="{{ paths.theme }}assets/no_image_thumb_blue_slim.svg" />
                                {% endif %}</div>
                                <h1 class="m-item--hed"><a href="{{ record.link }}" title="{{ record['title_' ~ app.locale] }}">{{ record['title_' ~ app.locale] }}</a></h1>

                                <div class="m-item--meta"><a href="/single.php" class="m-item--section">kategorie</a></div>
                            </a>
                        </header>
                    </article>
                </div>

        {% elseif loop.index == 2 %}
                <div class="small-12 large-6 columns">
                    <article class="m-blog-item mm-subhero mm-featured">
                        <header>
                            <a href="{{ record.link }}" title="{{ record['title_' ~ app.locale] }}">
                                <div class="m-item--image">
                                {% if record.image!="" %}
                                    <img src="{{ thumbnail(record.image, 600, 420, crop) }}" alt="">
                                    {% else %}
                                    <img src="{{ paths.theme }}assets/no_image_thumb_blue_slim.svg" />
                                {% endif %}</div>
                                <h1 class="m-item--hed"><a href="{{ record.link }}" title="{{ record['title_' ~ app.locale] }}">{{ record['title_' ~ app.locale] }}</a></h1>

                                <div class="m-item--meta"><a href="/single.php" class="m-item--section">kategorie</a></div>
                            </a>
                        </header>
                    </article>
                </div>
            </div>
        {% elseif loop.index == 3 %}
                <div class="row">
                <div class="small-12 medium-6 large-4 xlarge-3 columns {% if loop.last %}end{% endif %}"> 
            <article class="m-blog-item">
                <header>
                    <a href="{{ record.link }}" title="{{ record['title_' ~ app.locale] }}">
                    <div class="m-item--image">
                {% if record.image!="" %}
                    <img src="{{ thumbnail(record.image) }}" alt="">
                    {% else %}
                    <img src="{{ paths.theme }}assets/no_image_thumb_blue.svg" />
                {% endif %}</div>
                    <h1 class="m-item--hed"><a href="{{ record.link }}" title="{{ record['title_' ~ app.locale] }}">{{ record['title_' ~ app.locale] }}</a></h1>

                    <div class="m-item--meta"><a href="" class="m-item--section">kategorie</a></div>
                    </a>
                </header>
            </article>
        </div>
        {% else %}
            <div class="small-12 medium-6 large-4 xlarge-3 columns {% if loop.last %}end{% endif %}"> 
            <article class="m-blog-item">
                <header>
                    <a href="{{ record.link }}" title="{{ record['title_' ~ app.locale] }}">
                    <div class="m-item--image">
                {% if record.image!="" %}
                    <img src="{{ thumbnail(record.image) }}" alt="">
                    {% else %}
                    <img src="{{ paths.theme }}assets/no_image_thumb_blue.svg" />
                {% endif %}</div>
                    <h1 class="m-item--hed"><a href="{{ record.link }}" title="{{ record['title_' ~ app.locale] }}">{{ record['title_' ~ app.locale] }}</a></h1>

                    <div class="m-item--meta"><a href="" class="m-item--section">kategorie</a></div>
                    </a>
                </header>
            </article>
        </div>
        {% endif %}

        
        {% else %}
            <article>
                    <h2>{{ __("No content found.") }}</h2>
                    <p>
                        Unfortunately, no content could be found. Try another page, or go to the
                        <a href="{{ paths.root }}">homepage</a>.
                    </p>
            </article>
        {% endfor %}

</div>


<div class="row">
    <div class="small-12 large-3 small-centered columns">
        <ul class="pagination">
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
            <li class="current"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li class="unavailable"><a href="">&hellip;</a></li>
            <li><a href="">13</a></li>
            <li class="arrow"><a href="">&raquo;</a></li>
        </ul>
    </div>
</div>


<div class="row m-list">
    <div class="small-12 medium-12 large-2 xlarge-3 columns">
        <img src="/assets/ikony/web-ikona.svg" alt="" />
    </div>
    <div class="small-12 medium-6 large-5 xlarge-4 columns">
        <header>
        <h2>Další články o pavilonu & EXPO2015</h2>
        </header>
        <?php for ($i = 1; $i <= 9; $i++) { ?>
            <article class="m-item">
                <header>
                    <h1 class="m-item--hed"><a href="/single.php" title="">sgjkhlsf fgkshdfgk gsd fgkjhsdfg sdfklgjhsd fgsd fgsd fgs dfgsd fgsdfgds</a></h1>

                    <div class="m-item--meta">
                        <div class="m-item--date">datum a dalsi</div>
                    </div>
                </header>
            </article>
        <?php } ?>
    </div>

    <div class="small-12 medium-6 large-5 xlarge-4 xlarge-offset-1 columns">
        <header>
            <h2>Další články o pavilonu & EXPO2015</h2>
        </header>
        <?php for ($i = 1; $i <= 3; $i++) { ?>
            <article class="m-item mm-featured">
                <header>
                    <h1 class="m-item--hed"><a href="/single.php" title="">title</a></h1>

                    <div class="m-item--meta"><div class="m-item--date">datum a dalsi</div></div>
                </header>
            </article>
        <?php } ?>
    </div>
</div>



{% include '_partners.twig' %}
{% include '_inc-footer.twig' %}

<!-- page custom JS -->
<script src="{{ paths.theme }}js/app.js"></script>

</body>
{% include '_footer.twig' %}
