<p>Dobrý den, {{ user.displayname }},</p>

<p>Vy /nebo někdo / kdo se za vás vydává, jste vyžádal heslo pro přístup k webu
    '{{ app.config.get('general/sitename') }}'. Pro vyresetování hesla klikněte na následující odkaz::

<p><a href="{{ shadowlink }}">{{ shadowlink }}</a></p>

<p>A zaregistrujte se pomocí nového hedla:</p>

<p><strong style="font-family: Menlo, Consolas, Monaco, 'Courier New', monospace;">{{ shadowpassword }}</strong></p>

<p>Poté doporučujeme heslo změnit.</p>

<p>Pokud jste změnu hesla nevyžádali vy, můžete tento email bezpečně ignorovat. Změna hesla je možná pouze po kliknutí na odkaz výše.</p>

<p>Please note that resetting your password <em>must</em> be done within 2 hours
    and it also <em>must</em> be done from the same IP-address that requested the
    reset. If these conditions aren't met, the password reset will be canceled,
    and only the old password will remain valid. This might seem like a hassle,
    but this is the best way to prevent ill-willing persons from hijacking your account.</p>

<p>S podzravem světu mír, administrátor.</p>
