{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-8 columns">

        <article>

            <h2>{{ record['title_' ~ app.locale] }}</h2>

            {% if record.image!="" %}
                <div class="large-4 columns imageholder">
                    <a href="{{ image(record.image) }}">
                        <img src="{{ thumbnail(record.image, 400, 260) }}">
                    </a>
                </div>
            {% endif %}

            {# display something introduction-like.. #}
            {% if record.introduction %}
            {{ record.introduction }}
            {% elseif record.teaser %}
                {{ record.teaser }}
            {% else %}
                <p>{{ record.excerpt(1000) }}</p>
            {% endif %}

            {# if the entry has a video, display it. #}
            {% if record.video is not empty %}
                {{ record.video.responsive }}
            {% endif %}

            {{ record.body }}

            {% if record.rok!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">{{ __('Rok konání výstavy:') }}</h2>
                    <div class="large-8 columns">
                        {{ record.rok }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if record.mesto_cs!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">{{ __('Místo:') }}</h2>
                    <div class="large-8 columns">
                        {{ record['mesto_' ~ app.locale] }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if record.tema_cs!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">{{ __('Téma výstavy:') }}</h2>
                    <div class="large-8 columns">
                        {{ record['tema' ~ app.locale] }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if record.autor-pavilonu!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">{{ __('Autor(ři) pavilonu:') }}</h2>
                    <div class="large-8 columns">
                        {{ record.autor-pavilonu }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if record.autor-expozice!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">{{ __('Autor(ři) expozice:') }}</h2>
                    <div class="large-8 columns">
                        {{ record.autor-expozice }}
                    </div>
                </div>
            </div>
            {% endif %}
                        {% if record.taxonomy.kategorie is defined %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">{{ __('Kategorie') }}</h2>

                    <div class="large-8 columns">
                        {% for tag in record.taxonomy.kategorie %}
                        <a href="{{ paths.root }}{{ app.locale }}/kategorie/{{ tag }}">
                            {{ tag }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if record.related!="" %}
            <div class="row">
                <div class="mgr-full">
                    <h2 class="large-4 columns">{{ __('Čtěte také:') }}</h2>
                    <div class="large-8 columns">
                        {% for odkaz in record.related %}
                        <article class="m-story">
                            <header>
                                <h1 class="m-item--hed">
                                    <a href="{{ odkaz.link }}" target="_parent" title="">{{ odkaz['title_' ~ app.locale] }}</a>
                                </h1>
                            </header>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}


            {% include '_recordfooter.twig' with {record: record} %}

            <p class="meta">
                {% set previous = record.previous('id') %}
                {% if previous %}
                    <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
                {% endif %}
                -
                {% set next = record.next('id') %}
                {% if next %}
                    <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
                {% endif %}
            </p>

        </article>


    </div>

    <!-- End Main Content -->

    {% include '_aside.twig' %}

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
